<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./MapHUD1 (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,520},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,650},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,0},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,130},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,260},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,650},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,780},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,390},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,780},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,520},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,130},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,910},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,650},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,910},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{1029,0},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{1029,130},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,780},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{1029,260},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{1029,390},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{686,910},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (29)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{1029,520},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,260},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (30)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{1029,650},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,0},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,130},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,390},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,260},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{343,390},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD1 (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{341,128}</string>
    <key>spriteSourceSize</key>
    <string>{341,128}</string>
    <key>textureRect</key>
    <string>{{0,520},{341,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1372,1040}</string>
   <key>textureFileName</key>
   <string>MapHUD1.png</string>
  </dict>
 </dict>
</plist>
