<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./MapHUD2 (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,0},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,365},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,292},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,438},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,365},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,438},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,511},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,0},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,73},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,146},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,219},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,73},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,511},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,584},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,292},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,365},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,584},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,657},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,438},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,657},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,511},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (29)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,0},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,146},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (30)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,73},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (31)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,584},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (32)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,146},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (33)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,219},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (34)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,292},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (35)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{514,657},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (36)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,365},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (37)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,438},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (38)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,511},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (39)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,584},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,219},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (40)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{771,657},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,0},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,73},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{0,292},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,146},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MapHUD2 (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,71}</string>
    <key>spriteSourceSize</key>
    <string>{255,71}</string>
    <key>textureRect</key>
    <string>{{257,219},{255,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1028,730}</string>
   <key>textureFileName</key>
   <string>MapHUD2.png</string>
  </dict>
 </dict>
</plist>
