<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./rf4_frame_cycle (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{70,40}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,90},{70,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./rf4_frame_cycle (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{70,42}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{70,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./rf4_frame_cycle (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{56,38}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{72,0},{56,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./rf4_frame_cycle (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{64,43}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{68,44},{64,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./rf4_frame_cycle (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{62,44}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{72,90},{62,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./rf4_frame_cycle (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{66,44}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,44},{66,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./rf4_frame_cycle (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{68,39}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,132},{68,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{136,173}</string>
   <key>textureFileName</key>
   <string>rf4_frame_cycle.png</string>
  </dict>
 </dict>
</plist>
