<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Characters-Character12-Walk_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-88}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,661},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-86}</string>
    <key>spriteSize</key>
    <string>{166,212}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{684,0},{166,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-84}</string>
    <key>spriteSize</key>
    <string>{168,213}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{340,443},{168,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-83}</string>
    <key>spriteSize</key>
    <string>{168,216}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,443},{168,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-81}</string>
    <key>spriteSize</key>
    <string>{168,218}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,223},{168,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-79}</string>
    <key>spriteSize</key>
    <string>{172,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{172,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-79}</string>
    <key>spriteSize</key>
    <string>{172,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{172,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-79}</string>
    <key>spriteSize</key>
    <string>{172,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{172,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-79}</string>
    <key>spriteSize</key>
    <string>{172,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{172,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-79}</string>
    <key>spriteSize</key>
    <string>{172,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{172,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-79}</string>
    <key>spriteSize</key>
    <string>{172,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{172,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-81}</string>
    <key>spriteSize</key>
    <string>{168,218}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{170,223},{168,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-83}</string>
    <key>spriteSize</key>
    <string>{168,216}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{170,443},{168,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-84}</string>
    <key>spriteSize</key>
    <string>{168,213}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{510,441},{168,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-86}</string>
    <key>spriteSize</key>
    <string>{166,212}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{680,438},{166,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-88}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{168,661},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-86}</string>
    <key>spriteSize</key>
    <string>{166,212}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{510,656},{166,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-84}</string>
    <key>spriteSize</key>
    <string>{168,213}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{680,223},{168,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-83}</string>
    <key>spriteSize</key>
    <string>{168,216}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{514,0},{168,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-81}</string>
    <key>spriteSize</key>
    <string>{168,218}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{344,0},{168,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-79}</string>
    <key>spriteSize</key>
    <string>{168,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{174,0},{168,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-79}</string>
    <key>spriteSize</key>
    <string>{168,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{174,0},{168,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-79}</string>
    <key>spriteSize</key>
    <string>{168,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{174,0},{168,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-79}</string>
    <key>spriteSize</key>
    <string>{168,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{174,0},{168,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-79}</string>
    <key>spriteSize</key>
    <string>{168,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{174,0},{168,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-79}</string>
    <key>spriteSize</key>
    <string>{168,221}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{174,0},{168,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-81}</string>
    <key>spriteSize</key>
    <string>{168,218}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{340,223},{168,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-83}</string>
    <key>spriteSize</key>
    <string>{168,216}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{510,223},{168,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-84}</string>
    <key>spriteSize</key>
    <string>{168,213}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{340,658},{168,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Characters-Character12-Walk_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-86}</string>
    <key>spriteSize</key>
    <string>{166,212}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{680,652},{166,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{852,873}</string>
   <key>textureFileName</key>
   <string>walk.png</string>
  </dict>
 </dict>
</plist>
