<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Hero_Walk (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{16,31}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{0,0},{16,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hero_Walk (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{16,26}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{0,33},{16,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hero_Walk (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{16,20}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{36,24},{16,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hero_Walk (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{16,29}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{18,0},{16,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hero_Walk (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{16,26}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{18,31},{16,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hero_Walk (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{16,22}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{36,0},{16,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hero_Walk (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,19}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{36,46},{14,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{54,67}</string>
   <key>textureFileName</key>
   <string>Hero_Walk.png</string>
  </dict>
 </dict>
</plist>
