<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./pink (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-88}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{336,213},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-85}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{168,213},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-84}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{336,0},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-85}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{168,213},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-85}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,213},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-85}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{168,0},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-86}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{504,212},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-86}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{336,425},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{504,0},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,209}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{168,426},{166,209}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,209}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,426},{166,209}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,209}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,426},{166,209}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,209}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{168,426},{166,209}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{504,0},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-87}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{336,425},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-86}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,0},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-86}</string>
    <key>spriteSize</key>
    <string>{166,210}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{504,212},{166,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-85}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{168,0},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./pink (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-85}</string>
    <key>spriteSize</key>
    <string>{166,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,504}</string>
    <key>textureRect</key>
    <string>{{0,213},{166,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{672,637}</string>
   <key>textureFileName</key>
   <string>pink.png</string>
  </dict>
 </dict>
</plist>
