<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./owlet (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,-96}</string>
    <key>spriteSize</key>
    <string>{158,195}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{428,197},{158,195}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,-81}</string>
    <key>spriteSize</key>
    <string>{212,190}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{214,0},{212,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{27,-108}</string>
    <key>spriteSize</key>
    <string>{196,156}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{198,407},{196,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{40,-109}</string>
    <key>spriteSize</key>
    <string>{190,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{194,194},{190,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{17,-112}</string>
    <key>spriteSize</key>
    <string>{160,195}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{428,0},{160,195}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-128}</string>
    <key>spriteSize</key>
    <string>{212,192}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{0,0},{212,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-104}</string>
    <key>spriteSize</key>
    <string>{196,158}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{0,407},{196,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-101}</string>
    <key>spriteSize</key>
    <string>{192,211}</string>
    <key>spriteSourceSize</key>
    <string>{788,507}</string>
    <key>textureRect</key>
    <string>{{0,194},{192,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{590,567}</string>
   <key>textureFileName</key>
   <string>owlet.png</string>
  </dict>
 </dict>
</plist>
